<!DOCTYPE html>
<html lang ="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
		<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
		<title>Estacionamento</title>

		<link th:href="@{/css/home.css}" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>

	<body>
		<div id="container">
			<header class="cabecalho">
                <div>
                    <h1>Painel de Vagas</h1>
                </div>
                <div>
					<form th:action="@{/logout}" method="post">
                    <p class="user">
						Usuario: <span class="user-logon">[[${#httpServletRequest.remoteUser}]]</span>
						<input type="submit" class="btn-logout" value="(sair)"/>
					</p>
					</form>
                </div>
			</header>
            <form action="" method=""  class="form-search">
                <input class="board-car" type="text" placeholder="Placa do Veiculo para pesquisar" name="veiculo-pesquisar" size="40">

				<a class="search-car" href="" onclick="searchCar()">
					<span class="icon-search" >
						<i class="fa fa-magnifying-glass"></i>
					</span>
				</a>

            </form>
			<main>
				<div class="vacancy-list">
					<ul class="list-title-set">
						<li class="title-list title-status">Status</li>
						<li class="title-list title-vacancy ">Vagas</li>
						<li class="title-list title-board">Placa</li>
						<li class="title-list title-model">Modelo</li>
						<li class="title-list title-brand">Marca</li>
						<li class="title-list title-color">Cor</li>
						<li class="title-list title-type">Tipo</li>
						<li class="title-list title-cpf">CPF</li>
						<li class="title-list title-name">Proprietario</li>
						<li class="title-list title-phone">Telefone</li>
						<li class="title-list title-plan">Plano</li>
						<li class="title-list title-expiration">Saída</li>
						<li class="title-list title-action"></li>
						<li class="title-list title-pay"></li>
					</ul>
					<div>
						<ul class="list-item-set">
						</ul>
					</div>
				</div>
			</main>

			<footer class="rodape">
				<p>Devenvolvido por: 4Bits</p>
			</footer>
		</div>
	</body>
	<script id="estadia-template" type="text/x-handlebars-template">
		{{#each items}}
			<li>
				<form class="data-vacancy" onsubmit="submitForm(this); return false;">
						<input type="hidden" name="vagaId" id="id_vaga" value="{{vaga.id}}">
						<input type="hidden" name="id_estadia" id="id_estadia" value="{{estadia.id}}">

						<span class="item-list item-status">
							<span {{#if car.placa}}class="empty"{{else}}class="busy"{{/if}}></span>
						</span>

						<span class="item-list item-vacancy">{{vaga.numero}}</span>

						{{#if (editable estadia)}}
							<input
								class="item-list item-board autocomplete-placa"
								name="placa"
								title=""
								type="text"
								onkeyup="handleBoard(event)"
								onblur="alertBoard(event)"
								value="{{car.placa}}">
						{{else}}
							<span
								class="item-list item-board"
								name="frm_board"
								>{{car.placa}}</span>
						{{/if}}

						{{#if (editable estadia)}}
							<input class="item-list item-model" name="modelo" value="{{car.modelo}}">
						{{else}}
							<span class="item-list item-model" name="modelo">{{car.modelo}}</span>
						{{/if}}

						{{#if (editable estadia)}}
							<input class="item-list item-brand" name="marca" value="{{car.marca}}">
						{{else}}
							<span class="item-list item-brand" name="marca">{{car.marca}}</span>
						{{/if}}

						{{#if (editable estadia)}}
							<input class="item-list item-color" name="cor" type="text" value="{{car.cor}}">
						{{else}}
							<span class="item-list item-color" name="cor" type="text">{{car.cor}}</span>
						{{/if}}

						{{#if (editable estadia)}}
							<select class="item-list item-type" name="tipo">
								<option value="CARRO" {{{select car.tipo 'CARRO'}}}>Carro</option>
								<option value="MOTOCICLETA" {{{select car.tipo 'MOTOCICLETA'}}}>Moto</option>
								<option value="CAMINHONETE" {{{select car.tipo 'CAMINHONETE'}}}>Caminhonete</option>
								<option value="UTILITARIO" {{{select car.tipo 'UTILITARIO'}}}>Utilitario</option>
							</select>
						{{else}}
							<span class="item-list item-type" name="tipo">{{car.tipo}}</span>
						{{/if}}

						{{#if (editable estadia)}}
							<input class="item-list item-cpf" name="cpf" type="text" maxlength="14" onkeyup="handleCpf(event)" value="{{client.cpf}}">
						{{else}}
							<span class="item-list item-cpf" name="cpf">{{client.cpf}}</span>
						{{/if}}

						{{#if (editable estadia)}}
							<input class="item-list item-name" name="nome" value="{{client.nome}}">
						{{else}}
							<span class="item-list item-name" name="nome">{{client.nome}}</span>
						{{/if}}

						{{#if (editable estadia)}}
							<input class="item-list item-phone" name="telefone" type="tel" maxlength="15" onkeyup="handlePhone(event)" value="{{client.telefone}}">
						{{else}}
							<span class="item-list item-phone" name="telefone">{{client.telefone}}</span>
						{{/if}}

						{{#if (editable estadia)}}
							<select class="item-list item-plan" name="plano" onchange="handleChangePlan({{@index}})">
								<option class="plan-diary" value="AVULSO" {{{select estadia.plano 'AVULSO'}}}>Avulso</option>
								<option class="plan-monthly" value="MENSAL" {{{select estadia.plano 'MENSAL'}}}>Mensal</option>
							</select>
						{{else}}
							<span class="item-list item-plan" name="plano">{{estadia.plano}}</span>
						{{/if}}

						<div class="item-list item-expiration">
							{{#if estadia.saida}}
							<input
								class="end-date mensal"
								name="frm_expiration"
								{{#unless estadia.pagamento}}id="not_pay"{{/unless}}
								value="{{{dateFormat estadia.saida}}}">
							{{/if}}
						</div>

						<div class="item-list item-action">
							<button
								type="submit"
								class="btn btn_action {{#if car.placa}}btn-close{{else}}btn-add{{/if}}"
								{{#if estadia.saida}}
									id="missing-payment"
									disabled
									title="⚠️ Validar pagamento"
									style="cursor: initial;"
								{{/if}}>
									{{#if car.placa}}
										Finalizar
									{{else}}
										Cadastrar
									{{/if}}
							</button>
						</div>

						<div class="item-list item-payment">
							{{#if (and car.placa (not estadia.pagamento) estadia.saida)}}
								<a class="redirect_confirm_pay" href="/pagamentos/novo?estadia_id={{estadia.id}}">
									<i class="fa-regular fa-credit-card"></i>
								</a>
							{{/if}}
					</div>
				</form>
			</li>
		{{/each}}
	  </script>
	  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
	  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
	  <script th:src="@{/js/script.js}"></script>
	  <script>
		let vagas = [];

		async function carregaVagas() {
			var response = await fetch('/vagas');
			vagas = await response.json();

			if("[[${#httpServletRequest.remoteUser}]]" == "atendente") {
				userAtendente(vagas)
			} else {
				userGerente(vagas)
			};
		}

		$(document).ready(async function() {
			await carregaVagas();
		});
	  </script>
</html>

