<!DOCTYPE html>
<html lang ="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
        <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>Estacionamento</title>
        <link rel="stylesheet" th:href="@{/css/ending-plan.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    </head>

    <body onload="showDataVacancy()">
        <div id="container">
            <header class="cabecalho">
                <h1>GÁVIA</h1>
                <h2>Estacionamento</h2>
            </header>

            <main>
                <div class="formulario_login">
                    <div class="titulo_formulario">
                        <h2>Pagamento Avulso</h2>
                    </div>
                    <span class="borda_inferior"></span>
                    <form id="form_pagamento" class="formulario" method = "post" action="/pagamentos" onsubmit="submitForm(this); return false;">
                        <div class="data_ending">
                            <label>Nome do Cliente</label>
                            <span id="name_client"></span>
                        </div>
                        <div class="data_ending">
                            <label for="">Placa do Veículo</label>
                            <span id="board"></span>
                        </div>
                        <div class="data_ending">
                            <label>Data Entrada</label>
                            <span id="date_entry"></span>
                        </div>
                        <div class="data_ending">
                            <label>Horário Entrada</label>
                            <span id="hour_entry"></span>
                        </div>
                        <div class="data_ending">
                            <label for="">Data Saída</label>
                            <span id="date_expiration"></span>
                        </div>
                        <div class="data_ending">
                            <label for="">Horário Saída</label>
                            <span id="hour_expiration"></span>
                        </div>
                        <div class="data_ending">
                            <label>Valor</label>
                            <span id="amount"></span>
                        </div>
                        <button class ="btn btn_formulario" type = "submit">Confirmar Pagamento</button>
                    </form>
                </div>
            </main>

            <footer class="rodape">
                <p>Devenvolvido por: 4Bits</p>
            </footer>
        </div>

    <script>

        const params = new Proxy(new URLSearchParams(window.location.search), {
          get: (searchParams, prop) => searchParams.get(prop),
        });

        async function showDataVacancy() {
            let response = await fetch(`/estadias/${params.estadia_id}`)
            let elem = await response.json()

            const name_client = document.getElementById("name_client")
            const board = document.getElementById("board")
            const date_entry = document.getElementById("date_entry")
            const hourFormat_entry = document.getElementById("hour_entry")
            const date_expiration = document.getElementById("date_expiration")
            const hourFormat_expiration = document.getElementById("hour_expiration");
            const amount = document.getElementById("amount")

            const client = elem.cliente
            const car = client.veiculo

            //formata a data de entrada
            let date_entry_car = String(elem.entrada).split("T", 3);
            let date_entry_separator = date_entry_car[0].split("-");
            let day_entry = date_entry_separator[2];
            let month_entry = date_entry_separator[1];
            let year_entry = date_entry_separator[0];
            let dateFormat_entry = `${day_entry}/${month_entry}/${year_entry}`;

            //formata a data de saida
            let date_exit_car = String(elem.saida).split("T", 3);
            let date_exit_separator = date_exit_car[0].split("-");
            let day_exit = date_exit_separator[2];
            let month_exit = date_exit_separator[1];
            let year_exit = date_exit_separator[0];
            let dateFormat_exit = `${day_exit}/${month_exit}/${year_exit}`;

            //formata o horario de entrada
            let hour_entry_car = String(elem.entrada).split("T", 3);
            let hour_entry_separator = hour_entry_car[1].split("t");
            let hour_entry = hour_entry_separator[0].split(":", 2)
            let hour_Format_entry = `${hour_entry[0]}:${hour_entry[1]}`

            let hour_expiration_car = String(elem.saida).split("T", 3);
            let hour_expiration_separator = hour_expiration_car[1].split("t");
            let hour_expiration = hour_expiration_separator[0].split(":", 2)
            let hour_Format_expiration = `${hour_expiration[0]}:${hour_expiration[1]}`

            //formata valor da estadia
            let amount_format = 'R$ ' + parseFloat(elem.valor).toFixed(2)

            name_client.innerHTML = client.nome
            board.innerHTML = car.placa
            date_entry.innerHTML = dateFormat_entry
            hourFormat_entry.innerHTML = hour_Format_entry
            date_expiration.innerHTML = dateFormat_exit
            hourFormat_expiration.innerHTML = hour_Format_expiration
            amount.innerHTML = amount_format
        }

        async function submitForm(form) {
            var token = document.getElementById('_csrf').content;
            var header = document.getElementById('_csrf_header').content;

            var response = await fetch(form.getAttribute('action'), {
                method: form.getAttribute('method'),
                headers: {
                    'Content-Type': 'application/json',
                    'Accepts': 'application/json',
                    [header]: token
                },
                credentials: 'include',
                body: JSON.stringify({
                    idEstadia: params.estadia_id
                })
            });

            var data = await response.json();
            if (data.error) {
                alert('Ocorreu um erro: ' + data.message);
            } else {
                location.href = '/';
            }
        }
    </script>
    </body>
</html>